$headerHeight: 2rem;
$maxContentWidth: 1280px;

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

header {
  flex-shrink: 0;
  padding: 0.5rem;
  border-bottom: solid 1px #d9d9d9;

  & > div {
    max-width: $maxContentWidth;
    margin: auto;
  }
}

main {
  max-width: $maxContentWidth;
  width: 100%;
  height: calc(100dvh - $headerHeight);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.login-form-wrap {
  margin: auto;
}

.filters {
  padding: 16px;
}

.trips-list {
  width: 100%;
  box-sizing: border-box;
  padding: 0 1rem 1rem;
  overflow: hidden auto;
}